<!--The whole content below can be removed with the new code.-->
<div >
  <div class="header">
    <span><h1>QUAENT</h1></span>
  </div>
  <div>
    <div class="centered">
      <h3> {{title}} </h3>
      <input name="search" #searchTerm (keyup.enter)="performSearch(searchTerm.value)" (blur)="performSearch(searchTerm.value); searchTerm.value='' ">      <button (click)="performSearch(searchTerm.value)">Search</button> <br>
    </div>
    <br/>

  <div class="container" *ngIf="results">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-auto" *ngFor="let result of results | slice:0:20">
       <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="{{ result.image }}" style="height: 5rem;" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{ result.title }}</h4>
            <p class="card-text">{{ result.title }}</p>
            <a href="{{ result.url }}" class="btn btn-primary" target="_blank">View</a>
          </div>
        </div>
    </div>
  </div>
</div>

    </div>
  </div>